//código aleatório que fiz anteriormente pois é só testar a compressão vai gulp  
//Cores
$corDeFunto: #f5f6fa;
$corPrincipal:#182C61;
$corDoButao: #44bd32;

//Breakpoints
$mobile: 767px;
$tablet: 1023px;